#afor-map-container {
  width: 100%;
  //height: 100%;
  height: 500px;

  img {
    //display: inline;
    //margin: 0;
    //padding: 0;
  }
}

#afor-map-container .leaflet-popup { font-size: .75rem; }

#afor-map-container div.custom-icon {
  display: table;

  font-size: 1.25rem;
  width: 2.5rem; height: 2.5rem;
  transform: translate(calc(6px - 1.25rem), calc(6px - 1.25rem));
  padding: .28rem;

  color: black;
  background-color: rgba(255, 255, 255, .75);
  border: 2px solid gray;
  border-radius: 100%;
}

#afor-map-container div.custom-icon i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
