@import "afor-map";

.tc { text-align: center; }

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.flex { display: flex; }
.flex-row {flex-direction: row; }
.flex-wrap    { flex-wrap: wrap; }
.flex-nowrap    { flex-wrap: nowrap; }
.overflow-x-auto { overflow-x: auto; }

.article-style #gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  article {
    min-width: 240px;
    width: 50%;
    padding: .25rem;
  }

  video { margin-top: 0; margin-bottom: 0; }
}

.internet-archive {
  text-align: center;

  .iframe-container {
    position: relative; overflow: hidden; width: 100%; padding-top: 56.25%;
    left: 50%; transform: translateX(-50%);
  }
  .iframe-container iframe {
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;
  }
}

.wg-slider .carousel-inner .wg-hero {
  background-position: center center;
  background-size: cover;
}

#progetti ul {
  list-style-type: none;

  li {
    outline: solid 1px #a18142;
    margin: .5rem;
    padding: .5rem;
  }
}
