{{- $refs := $.Site.Data.interviews.response.docs -}}

<div id="gallery">
  {{ range $refs }}
  {{ if not (eq .identifier "afor_trailer") }}
  <article class="internet-archive tc">
    <div class="iframe-container">
      <iframe src="https://archive.org/embed/{{ .identifier }}" allowfullscreen></iframe>
    </div>
    <p class="tc">
      <a href="https://archive.org/details/{{ .identifier }}">{{ .identifier }}</a>
    </p>
  </article>
  {{ end }}
  {{ end }}
</div>
