{{- $identifier := .Get "identifier" -}}

<article class="internet-archive tc" style="min-width: 240px; max-width: 600px; margin-left: auto; margin-right: auto;">
  <div class="iframe-container">
    <iframe src="https://archive.org/embed/{{ $identifier }}&autoplay=1" allowfullscreen></iframe>
  </div>
</article>